<launch>
  <include file="$(find dspbot_driver)/launch/demo.launch"/>

  <include file="$(find urg_node)/launch/urg_lidar.launch"/>

  <include file="$(find dspbot_description)/launch/dspbot_description.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
   args="0.18 0.0 0.2 0.0 0.0 0.0 /base_footprint /laser 40" />
   
  <include file="$(find dspbot_nav)/launch/include/karto/karto.launch.xml"/>

</launch>
