<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find dspbot_nav)/config/dspbot/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find dspbot_nav)/config/dspbot/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find dspbot_nav)/config/dspbot/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find dspbot_nav)/config/dspbot/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find dspbot_nav)/config/dspbot/base_local_planner_params.yaml" command="load" />
  </node>
  
</launch>
